/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1785px;
  width: 90%;
  margin: 0 auto;
}

.general-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 7.5px 23.92px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #111111;
  color: #fff;
}
.button:hover {
  background-color: #6b6b6b;
  color: #fff;
}

.main-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-in;
}
.main-container header {
  width: 100%;
}
.main-container header .header-top {
  background-color: #F5F5F5;
}
.main-container header .header-top-content-wrapper {
  height: 36px;
}
.main-container header .header-top-content-wrapper #header-top-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li:not(:last-child) {
  border-right: 1px solid #111111;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li {
  padding: 0 14px;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li > a {
  position: relative;
  padding-bottom: 5px;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li > a:hover::after {
  width: 100%;
}
.main-container header .header-top-content-wrapper #header-top-nav ul li > a::after {
  background-color: #111111;
}
.main-container header .header-bottom {
  height: 60px;
}
.main-container header .header-bottom #header-bottom-logo-cont {
  width: 15%;
}
.main-container header .header-bottom #header-bottom-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.main-container header .header-bottom #header-bottom-nav ul li {
  padding: 0 14px;
}
.main-container header .header-bottom #header-bottom-nav ul li > a {
  position: relative;
  padding-bottom: 5px;
}
.main-container header .header-bottom #header-bottom-nav ul li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.main-container header .header-bottom #header-bottom-nav ul li > a:hover::after {
  width: 100%;
}
.main-container header .header-bottom #header-bottom-nav ul li > a::after {
  background-color: #111111;
}
.main-container header .header-bottom .header-bottom-user-interactions-cont {
  width: 20%;
}
.main-container header .header-bottom .header-bottom-user-interactions-cont #search-form {
  width: 135px;
  height: 40px;
  position: relative;
}
.main-container header .header-bottom .header-bottom-user-interactions-cont #search-form input {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: #F5F5F5;
  border: none;
  padding-left: 45px;
}
.main-container header .header-bottom .header-bottom-user-interactions-cont #search-form input:focus {
  outline: none;
  border: none;
}
.main-container header .header-bottom .header-bottom-user-interactions-cont #search-form #search-btn {
  position: absolute;
  left: 3%;
  top: 20%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-container header .header-bottom .user-action-btns {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.main-container header .header-bottom .user-action-btns:hover {
  transform: scale(1.25);
}
.main-container .section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 977px;
  margin-top: 10px;
}
.main-container .section-1-img-cont {
  height: 70%;
  width: 100%;
}
.main-container .section-1-img-cont img {
  width: 100%;
  height: 100%;
}
.main-container .section-1-description-cont {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .section-1-description-cont h1 {
  font-size: 54px;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase;
}
.main-container .products-list-section {
  gap: 40px;
  justify-content: center;
  margin-bottom: 120px;
}
.main-container .products-list-section-description .general-flex {
  gap: 20px;
}
.main-container .products-list-section-description h2 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 500;
}
.main-container .products-list-section select,
.main-container .products-list-section select:focus {
  border: none;
  outline: none;
}
.main-container .products-list-section select {
  width: 30px;
}
.main-container .products-list-section aside {
  padding: 0 80px;
  margin-top: 15px;
}
.main-container .products-list-section aside ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
  border-bottom: 1px solid #111111;
  padding-bottom: 40px;
}
.main-container .products-list-section aside ul li {
  padding: 0 14px;
}
.main-container .products-list-section aside ul li > a {
  position: relative;
  padding-bottom: 5px;
}
.main-container .products-list-section aside ul li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.main-container .products-list-section aside ul li > a:hover::after {
  width: 100%;
}
.main-container .products-list-section aside ul li > a::after {
  background-color: #111111;
}
.main-container .products-list-section aside ul li {
  padding: 0;
}
.main-container .products-list-section aside .filters-cont {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container .products-list-section aside .filters-cont .filter-cont {
  width: 100%;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  padding-bottom: 20px;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont input[type=checkbox],
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont label {
  cursor: pointer;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-group {
  display: none;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-group-active {
  display: flex;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-header {
  width: 100%;
  margin-bottom: 10px;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-header button {
  width: 5px;
  height: 10px;
  border: none;
  transform: rotate(-50deg);
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  border-left: 2px solid #111111;
  border-bottom: 2px solid #111111;
}
.main-container .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-header .expanded {
  transform: rotate(130deg);
}
.main-container .products-list-section aside .filters-cont .filter-cont #prices-options-cont,
.main-container .products-list-section aside .filters-cont .filter-cont #kids-options-cont {
  justify-content: space-evenly;
}
.main-container .products-list-section aside .filters-cont .filter-cont:not(:last-child) {
  border-bottom: 1px solid #111111;
}
.main-container .products-list-section .products-list-section-content {
  display: flex;
  gap: 48px;
  margin-top: 25px;
}
.main-container .products-list-section .products-list-section-content .products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper {
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card {
  flex: 1 1 25%;
  max-width: 25%;
  min-width: 300px;
  height: 533px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card:hover {
  transform: scale(1.1);
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card .product-img,
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card .product-description-cont,
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card .product-img img {
  width: 100%;
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card .product-description-cont {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main-container .products-list-section .products-list-section-content .products-container #products-wrapper .product-card .product-status {
  color: #9E3500;
}
.main-container .products-list-section .products-list-section-content .products-container #products-pagination-wrapper {
  max-width: 600px;
  margin-top: 51px;
  background-color: red;
}
.main-container .products-list-section .products-list-section-content .products-container #products-pagination-wrapper .page-btn,
.main-container .products-list-section .products-list-section-content .products-container #products-pagination-wrapper .prev-btn,
.main-container .products-list-section .products-list-section-content .products-container #products-pagination-wrapper .next-btn {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid gray;
}
.main-container .products-list-section .products-list-section-content .products-container #products-pagination-wrapper .active-page {
  background-color: #393846;
  color: #fff;
}
.main-container .essentials-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 785px;
  margin-bottom: 19px;
}
.main-container .essentials-section .essentials-header {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-container .essentials-section .essentials-header h2 {
  font-size: 54px;
  line-height: 60px;
  font-weight: 500;
  text-transform: uppercase;
}
.main-container .essentials-section .essentials-content-cont {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-header {
  width: 52%;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-header h3 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-header p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-wrapper {
  width: 100%;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-wrapper .essentials-img-cont {
  position: relative;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-wrapper .essentials-img-cont .essentials-button {
  position: absolute;
  bottom: 48px;
  left: 48px;
  padding: 7.5px 23.92px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #111111;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-wrapper .essentials-img-cont .essentials-button:hover {
  background-color: #6b6b6b;
  color: #fff;
}
.main-container .essentials-section .essentials-content-cont .essentials-content-wrapper .essentials-img-cont .essentials-button:hover {
  background-color: #111111;
}
.main-container footer {
  color: #fff;
  width: 100%;
  background-color: #111111;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-container footer nav ul li a {
  color: #fff;
}
.main-container footer .footer-links-and-socials-cont {
  height: 300px;
}
.main-container footer .footer-links-and-socials-cont-navs-cont {
  width: 100%;
  height: 100%;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont {
  width: 50%;
  height: 90%;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav-1 {
  text-transform: uppercase;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav h4 {
  text-transform: uppercase;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav nav {
  height: 80%;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav nav ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-container footer .footer-links-and-socials-cont-navs-cont .footer-navs-cont .footer-nav nav ul a:hover {
  text-decoration: underline;
}
.main-container footer .footer-links-and-socials-cont .social-links-cont {
  gap: 16px;
}
.main-container footer .footer-links-and-socials-cont .social-links-cont img {
  cursor: pointer;
}
.main-container footer .footer-copy-and-FAQ .location-and-rights-cont {
  gap: 16px;
}
.main-container footer .footer-copy-and-FAQ .location-and-rights-cont .location-cont {
  gap: 5px;
}
.main-container footer .footer-copy-and-FAQ .location-and-rights-cont .rights-cont {
  color: #7e7e7e;
}
.main-container footer .footer-copy-and-FAQ .footer-sub-nav-cont nav ul {
  gap: 28px;
}
.main-container footer .footer-copy-and-FAQ .footer-sub-nav-cont nav ul a {
  color: #7e7e7e;
}
.main-container footer .footer-copy-and-FAQ .footer-sub-nav-cont nav ul a:hover {
  text-decoration: underline;
}

.main-container-scrolled {
  background-color: #111111;
  color: #fff;
  transition: all 0.2s ease-in;
}
.main-container-scrolled header {
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in;
  background-color: #fff;
}
.main-container-scrolled .products-list-section .products-container #products-wrapper .product-card {
  color: #fff;
}
.main-container-scrolled .products-list-section aside ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
}
.main-container-scrolled .products-list-section aside ul li {
  padding: 0 14px;
}
.main-container-scrolled .products-list-section aside ul li > a {
  position: relative;
  padding-bottom: 5px;
}
.main-container-scrolled .products-list-section aside ul li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease-in-out;
}
.main-container-scrolled .products-list-section aside ul li > a:hover::after {
  width: 100%;
}
.main-container-scrolled .products-list-section aside ul li > a::after {
  background-color: #fff;
}
.main-container-scrolled .products-list-section aside ul li {
  padding: 0;
}
.main-container-scrolled .products-list-section aside ul li a {
  color: #fff;
}
.main-container-scrolled .products-list-section aside .filters-cont .filter-cont .checkboxes-cont .checkbox-header button {
  width: 5px;
  height: 10px;
  border: none;
  transform: rotate(-50deg);
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.main-container-scrolled .products-list-section aside .filters-cont .filter-cont:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.main-container-scrolled .products-list-section select {
  background-color: transparent;
  color: #fff;
}
.main-container-scrolled .products-list-section select option {
  color: #111111;
}
.main-container-scrolled .button {
  padding: 7.5px 23.92px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  color: #111111;
}
.main-container-scrolled .button:hover {
  background-color: #6b6b6b;
  color: #fff;
}

.product-details-main h1 {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
.product-details-main .product-details {
  margin-top: 48px;
  margin-bottom: 92px;
  justify-content: space-evenly;
}
.product-details-main .product-details .product-details-container {
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.product-details-main .product-details .product-details-container .product-styles-container {
  height: 100px;
  gap: 20px;
  flex-wrap: wrap;
}
.product-details-main .product-details .product-details-container .product-styles-container img {
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.product-details-main .product-details .product-details-container .product-styles-container img:hover {
  transform: scale(1.1);
}
.product-details-main .product-details .product-img-container {
  height: 562px;
}
.product-details-main .product-details .product-img-container img {
  width: 100%;
  height: 100%;
}
.product-details-main .product-details .product-details-btn {
  padding: 0;
  padding-bottom: 5px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.product-details-main .product-details .product-details-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #111111;
}
.product-details-main .product-details .product-details-btn:hover::after {
  width: 100%;
  transition: all 0.3s ease-in;
}/*# sourceMappingURL=main.css.map */