@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";
@import "./scss/base/reset";
@import "./scss/components/header/header-lists";
@import "./scss/components/products-list-section/collapse-expand-btn";

.container {
  @include container();
}
.general-flex {
  @include flex();
}
.button {
  @include button();
}

#main-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  header {
    width: 100%;

    .header-top {
      background-color: $bg-secondary;

      &-content-wrapper {
        height: 36px;

        #header-top-nav {
          ul {
            @include headerLists();
          }
        }
      }
    }

    .header-bottom {
      height: 60px;

      #header-bottom-logo-cont {
        width: 15%;
      }

      #header-bottom-nav {
        ul {
          @include headerLists("false");
          gap: 20px;
        }
      }
      .header-bottom-user-interactions-cont {
        width: 20%;

        #search-cont {
          width: 135px;
          height: 40px;
          position: relative;

          input {
            width: 100%;
            height: 100%;
            border-radius: 100px;
            background-color: $bg-secondary;
            border: none;
            padding-left: 45px;

            &:focus {
              outline: none;
              border: none;
            }
          }

          #search-btn {
            position: absolute;
            left: 3%;
            top: 20%;
            border: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }
      .user-action-btns {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: transform 0.2s ease-in;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }

  .section-1 {
    @include flex($direction: column, $justify: space-around);
    height: 977px;
    margin-top: 10px;

    &-img-cont {
      height: 70%;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-description-cont {
      width: 100%;
      height: 30%;
      @include flex($direction: column, $justify: space-evenly);

      h1 {
        font-size: $h1-fs;
        font-weight: $h1-fw;
        line-height: $h1-lh;
        text-transform: uppercase;
      }
    }
  }
  .products-list-section {
    gap: 40px;
    justify-content: center;
    margin-bottom: 120px;

    &-description {
      .general-flex {
        gap: 20px;
      }

      h2 {
        font-size: $h2-fs;
        line-height: $h2-lh;
        font-weight: $h1-fw;
      }
    }

    select,
    select:focus {
      border: none;
      outline: none;
    }

    select {
      width: 30px;
    }

    aside {
      padding: 0 80px;
      margin-top: 15px;

      ul {
        @include headerLists("false");
        @include flex($direction: column, $align: flex-start);
        gap: 15px;
        border-bottom: 1px solid $bg-primary;
        padding-bottom: 40px;

        li {
          padding: 0;
        }
      }

      .filters-cont {
        width: 100%;
        margin-top: 10px;
        @include flex($direction: column, $align: flex-start);

        .filter-cont {
          width: 100%;

          .checkboxes-cont {
            @include flex($direction: column, $align: flex-start);
            padding: 20px 0;
            padding-bottom: 20px;

            input[type="checkbox"],
            label {
              cursor: pointer;
            }

            .checkbox-group {
              background-color: red;
              display: none;
            }

            .checkbox-header {
              width: 100%;

              button {
                @include collapseExpandBtn();
              }
            }
          }
          #prices-options-cont,
          #kids-options-cont {
            justify-content: space-evenly;
          }
        }

        .filter-cont:not(:last-child) {
          border-bottom: 1px solid $bg-primary;
        }
      }
    }

    .products-list-section-content {
      display: flex;
      gap: 48px;
      margin-top: 25px;

      .products-container {
        @include flex($direction: column);

        #products-wrapper {
          padding-right: 5%;
          @include flex();
          flex-wrap: wrap;
          column-gap: 3%;
          row-gap: 18px;

          .product-card {
            width: 25%;
            height: 533px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.1);
            }

            .product-img,
            .product-description-cont,
            .product-img img {
              width: 100%;
            }
            .product-description-cont {
              height: 30%;
              @include flex(
                $direction: column,
                $justify: space-evenly,
                $align: flex-start
              );
            }
            .product-status {
              color: $bg-tertiary;
            }
          }
        }
        #products-pagination-wrapper {
          margin-top: 51px;
          // fix the positioning to align with the button in the first section
          background-color: red;

          .products-btn {
            padding: 10px 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .essentials-section {
    @include flex($direction: column);
    height: 785px;
    margin-bottom: 19px;

    .essentials-header {
      width: 100%;
      height: 20%;
      @include flex($direction: column, $justify: space-around);

      h2 {
        font-size: $h1-fs;
        line-height: $h1-lh;
        font-weight: $h1-fw;
        text-transform: uppercase;
      }
    }

    .essentials-content-cont {
      width: 100%;
      height: 80%;
      @include flex($direction: column, $justify: space-evenly, $align: flex-start);

      .essentials-content-header {
        width: 52%;

        h3 {
          font-size: 23px;
          line-height: 28px;
          font-weight: $h1-fw;
        }
        p {
          font-size: 15px;
          line-height: 24px;
          font-weight: 400;
        }
      }

      .essentials-content-wrapper {
        width: 100%;
        
        .essentials-img-cont {
          position: relative;

          & .essentials-button {
            position: absolute;
            bottom: 48px;
            left: 48px;
            @include button($isScrolled: "true");
          }
        }
      }
    }
  }
}
