@mixin collapseExpandBtn() {
    width: 5px;
    height: 10px;
    border: none;
    border-left: 2px solid $bg-primary;
    border-bottom: 2px solid $bg-primary;
    transform: rotate(-50deg);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
    cursor: pointer;

    // do this on click instead using JS
    &:hover {
        transform: rotate(130deg)
    }
}